html {
    font-size: 16px;
}

body {
    margin: 1em;
    text-align: center;
    color: #360;
}

section {
    min-width: 900px;
    font-family: Courier
}

article {
    width: 50em;
    text-align: center;
    margin: 1em auto;
}

button {
    width: 210px;
    height: 210px;
    margin: 1em;
    padding: 0;
}

#cards div {
    width: 210px;
    height: 210px;
    background-color: black;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1em;
    padding: 0;
    display: inline-block;
}

#cards {
    width: 1200px;
    margin: 0 auto;
}

.ace { background-image: url(../jpg/Ace.jpg); }
.king { background-image: url(../jpg/King.jpg); }
.queen { background-image: url(../jpg/Queen.jpg); }
.jack { background-image: url(../jpg/Jack.jpg); }
.empty { background-image: none; }

